.nav-bar {
    text-align: center;
    margin: auto;
}

.content {
    display: flex;
    justify-content: center;
}

.content h1 {
    text-align: center;
}

.nav-bar > ul {
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: #d0021b;
    font-weight: 700;
    font-size: 1.2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav-bar > ul > li {
    margin-right: 15px;
    line-height: 5em;
}

.nav-bar > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.controls {
    display: flex;
}

.timer button {
    color: #e6e6e6;
    background: #0a0a0a;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    line-height: 2em;
    width: 200px;
    text-align: center;
    display: block;
    padding: 7px 7px;
    margin: 10px auto;
}

.timer button.start {
    background: green;
}

.timer button.reset {
    background: #d0021b;
}

.timer button:focus {
    outline: 0;
}

button::-moz-focus-inner {
    border: 0;
}

.timer button:hover:enabled {
    background: linear-gradient(#1a1a1a, #0a0a0a);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.timer button.reset:hover:enabled {
    background: #d0021b;
}

.timer button:active {
    transform: translateY(1px);
}

.timer {
    font-size: 196px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.history {
    padding-top: 50px;
}

.history-list ul {
    list-style-type: none;
}

.history-list li {
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 3px 20px;
    margin: 0 -20px;
}

.history-list li:nth-child(even) {
    background-color: #f5f5f5;
}